{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}
{{ block.super }}

<div class ="midd_content">

<h4>Australian Pet Transport</h4>
    <h1>Regional & Interstate services</h1>
    <p>Our regional and interstate services are operated by Dogmovers, the leaders in road based Pet Transport throughout Queensland and New South Wales. The combination   of our local PET TAXI services with
        Dogmovers regional  & interstate services allows us to offer the most Professional & Caring road based pet transport services available.</p>
    <p>Full contact details and information about Dogmovers Interstate Pet Transport services can be found
    at <a href="">Dogmovers.com.au</a>  or by calling them on (07) 5530 2710</p>
    <p>Dogmovers are based on the Gold Coast and have regular scheduled runs from Sydney throughout northern NSW and Regional Queensland to as far north as Cairns.</p>
    <p>Additionally Dogmovers can link with other transporters in Sydney to move your pets to Southern NSW, Canberra, Victoria and South Australia.</p>
    <p>Dogmovers operates similarly to an interstate bus service, from central meeting points in most towns on our routes and prices are based on meeting clients at these points.  We will happily stop at other points along the main routes at no extra charge if required.  However we do charge extra if we are required to do door to door pickups or deliveries in town or off the main route in regional areas.</p>

</div>
{% endblock %}

